pytest
pytest-asyncio
fastapi
httpx
uvicorn
starlette
python-jose
pydantic
asyncpg
pillow
pypdf2
boto3
pytesseract
torch
pdf2image
transformers
ollama
pandas
camelot-py
numpy
requests
paramiko
scp
rapidfuzz
passlib==1.7.4
bcrypt==3.2.2

